.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.categories {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 50px;
  margin-top: 0px;
  padding: 40px;
}

.category-container {
  color: white;
  font-size: 32px;
  padding: 60px 40px;
  width: 400px;
  text-align: center;
  border-radius: 20px;
  cursor: pointer;
  transition:
    background-color 0.3s ease,
    transform 0.3s ease;
  position: relative;
  background-size: cover;
  background-position: center;
}

.category-container:hover {
  transform: scale(1.05);
}

.category-text {
  font-weight: bold;
  font-size: 36px;
  z-index: 1;
  position: relative;
}

.category-container:active {
  transform: scale(1);
}

.category-page {
  margin-top: 50px;
}

.video {
  margin-bottom: 30px;
  text-align: center;
}

.video img {
  width: 250px;
  height: 180px;
  object-fit: cover;
  border-radius: 10px;
  margin-bottom: 10px;
}

.video a {
  display: inline-block;
  padding: 12px 24px;
  background-color: #4caf50;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  margin-top: 10px;
  transition: background-color 0.3s ease;
}

.video a:hover {
  background-color: #45a049;
}
